/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
General
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --main-color: #2196f3;
  --main-color-hover: #1787e0;
  --main-page-color: #d9f7fa;
  --main-transition: all 0.7s ease-in-out;
  --main-padding-top: 50px;
  --main-padding-bottom: 50px;
  --main-background-color: #ececec;
  --main-p-color: #777;
  --main-box-shadow: 0 0.25em 1em rgba(7, 29, 63, 0.125);
  --purple-color: #30cfb3;
}
html {
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #121212;
}
p {
  line-height: 1.7;
  color: var(--main-p-color);
  letter-spacing: 1px;
}
body {
  font-family: "Open Sans";
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
/*Mobile Screen*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/*Tab Screen*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/*PC Screen*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.main-title {
  position: relative;
  color: var(--main-color);
  font-size: 24px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 0 0 20px 0;
  width: fit-content;
}
.main-title::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #eee;
  border-radius: 15px;
}
.main-title::after {
  position: absolute;
  content: "";
  width: 50%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--main-color);
  border-radius: 15px;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Navbar
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.navbar {
  position: relative;
  height: 62px;
  background-color: var(--main-page-color);

  z-index: 1;
}
.navbar .container {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
}
.togglemanu {
  display: none;
}
.navbar .container .icon {
  position: relative;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  color: var(--main-color);
}
.navbar .container .main-nav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.navbar .container .main-nav li > a {
  position: relative;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-p-color);
  font-size: 14px;
  transition: var(--main-transition);
  text-transform: capitalize;
}
.navbar .container .main-nav li > a:hover,
.navbar .container .main-nav li > a.active {
  color: var(--main-color);
}
.navbar .container .main-nav .social {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
@media (max-width: 992px) {
  .navbar .container .main-nav {
    position: absolute;
    top: -100%;
    z-index: -99999;
    opacity: 0;
    flex-direction: column;
    gap: 15px;
    right: 20px;
    left: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: var(--main-page-color);
    padding: 20px;
    border-radius: 15px;
    transition: var(--main-transition);
    box-shadow: var(--main-box-shadow);
  }
  .navbar .container .main-nav.active {
    top: 62px;
    z-index: 99999;
    opacity: 1;
  }
  .navbar .container .main-nav > li > a {
    height: fit-content;
    font-size: 16px;
    border-bottom: 1px solid var(--main-p-color);
  }
  .togglemanu {
    display: flex;
    font-size: 20px;
    cursor: pointer;
    color: var(--main-p-color);
    transition: var(--main-transition);
  }
  .togglemanu:hover {
    color: var(--main-color);
  }
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# landing
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.landing {
  position: relative;
  min-height: 50vh;
  padding: 20px 0 0 20px;
  width: 100%;
}
.landing::before {
  position: absolute;
  content: "";
  height: 130%;
  width: 100%;
  background-color: var(--main-page-color);
  top: 0;
  left: 0;
  transform: skewY(5deg);
  transform-origin: top right;
}
.landing .container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.landing .container .left {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.landing .container .left h1 {
  color: var(--main-color);
}
.landing .container .right {
  position: relative;
  width: 100%;
}
.landing .container .right img {
  width: 100%;
  max-width: 100%;
  height: 300px;
}
@media (max-width: 992px) {
  .landing .container {
    flex-direction: column;
    text-align: center;
  }
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Gpa-calculation 
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Gpa-calculation {
  position: relative;
  width: 100%;
  max-width: 100%;
}
.Gpa-calculation .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Gpa-calculation .container .box {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 0.5em;
  box-shadow: var(--main-box-shadow);
  max-width: 100%;
}
.Gpa-calculation .container .box .box-title {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  margin: 0 0 15px 0;
  padding: 0 0 15px 0;
  border-bottom: 1px solid var(--main-background-color);
}
.Gpa-calculation .container .box .box-title h3 {
  color: var(--main-color);
}
.Gpa-calculation .container .box .box-title button {
  position: relative;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  color: var(--main-color);
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  transition: var(--main-transition);
  background-color: var(--main-color);
  color: #fff;
}
.Gpa-calculation .container .box .box-title button:hover {
  background-color: var(--main-color-hover);
  color: var(--main-background-color);
}
.Gpa-calculation .container .box .semester-inputs {
  position: relative;
  width: 100%;
  border: 1px solid var(--main-background-color);
}

.Gpa-calculation .container .box table tr {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}

.Gpa-calculation .container .box table tr:not(:last-child) {
  border-bottom: 1px solid var(--main-background-color);
}
.Gpa-calculation .container .box table tr td:not(:last-child) {
  border-right: 1px solid var(--main-background-color);
}

.Gpa-calculation .container .box .semester-inputs input {
  position: relative;
  height: 100%;
  border: 0;
  font-size: 16px;
  padding: 0 5px;
}
.Gpa-calculation .container .box .semester-inputs tr td i {
  position: relative;
  color: var(--main-color);
  transition: var(--main-transition);
  cursor: pointer;
  width: 100%;
}
.Gpa-calculation .container .box .semester-inputs tr td i:hover {
  color: red;
}

@media (max-width: 992px) {
  .Gpa-calculation .container .box .semester-inputs tr td:first-child {
    position: relative;
    min-width: 100%;
    height: 100%;
    border-bottom: 1px solid var(--main-background-color);
    border-right: 0;
    padding: 10px 0;
  }
  .Gpa-calculation .container .box .semester-inputs tr td:first-child input {
    width: 100%;
  }
  .Gpa-calculation
    .container
    .box
    .semester-inputs
    tr
    td:not(:first-child)
    input {
    width: 150px;
  }
}
.Gpa-calculation .container .box .semester-inputs input:focus {
  border: 0;
  outline: 0;
}
.Gpa-calculation .container .box .semester-inputs input:focus::placeholder {
  opacity: 0.5;
  transition: var(--main-transition);
}
.Gpa-calculation .container .box .semester-inputs select {
  border: 0;
  cursor: pointer;
  min-width: 80px;
}
.Gpa-calculation .container .box .semester-inputs select option {
  padding: 10px;
  border: 0;
  border-radius: 0;
}
.Gpa-calculation .container .box .semester-inputs select option:nth-child(1) {
  display: none;
}
.Gpa-calculation .container .box .semester-inputs select:focus {
  outline: 0;
}
.Gpa-calculation .container .box .box-footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  margin: 15px 0 0 0;
  padding: 15px 0 0 0;
  border-top: 1px solid var(--main-background-color);
}
.Gpa-calculation .container .box .box-footer h3 {
  font-size: 14px;
  color: var(--main-color);
}
.Gpa-calculation .container .box .box-footer span {
  font-weight: bold;
  letter-spacing: 2px;
  color: var(--main-p-color);
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Academic
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Academic {
  position: relative;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.Academic .container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.Academic .container .box_container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 15px;
}
.Academic .container .box_container .box {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0;
  border-radius: 0.5em;
  overflow: hidden;
  box-shadow: var(--main-box-shadow);
  cursor: pointer;
  transition: var(--main-transition);
}
.Academic .container .box_container .box .img {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.Academic .container .box_container .box .img img {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 100%;
  background-color: var(--main-page-color);
  transition: var(--main-transition);
}
.Academic .container .box_container .box .content {
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Academic .container .box_container .box .content h4 {
  color: var(--main-color);
}
.Academic .container .box_container .box .content i {
  position: absolute;
  top: -0%;
  right: 15px;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  width: 35px;
  height: 35px;
  color: var(--main-color);
  border-radius: 50%;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--main-box-shadow);
}
.Academic .container .box_container .box:hover .img img {
  transform: scale(1.1);
}
.Academic .container .box_container .box:hover {
  transform: translateY(-10px);
}
.Academic .container .box_container .box:hover .content i {
  animation: rightAnimaton 0.7s ease-in-out alternate infinite;
}
@keyframes rightAnimaton {
  to {
    transform: translate(-50%, -50%) translateX(50%);
  }
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Scale
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Scale {
  position: relative;
  width: 100%;
}
.Scale .container {
  position: relative;
  display: flex;
  gap: 15px;
  padding-bottom: var(--main-padding-bottom);
  border-bottom: 1px solid var(--main-background-color);
}
@media (max-width: 992px) {
  .Scale .container {
    flex-direction: column;
  }
}
.Scale .container .left {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.Scale .container .left h1 {
  position: relative;
  color: var(--main-color);
}
.Scale .container .left span {
  position: relative;
  line-height: 1.7;
  color: var(--main-p-color);
  letter-spacing: 0.5px;
  font-size: 16px;
}
.Scale .container .left button {
  position: relative;
  padding: 15px 18px;
  border-radius: 0.5em;
  border: 0;
  width: fit-content;
  background-color: var(--purple-color);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-size: 16px;
  cursor: pointer;
  transition: var(--main-transition);
}
.Scale .container .left button:hover {
  transform: scale(1.1);
}

.Scale .container .left p,
.Scale .container .right p {
  position: relative;
  color: var(--purple-color);
}
.Scale .container .right {
  position: relative;
  min-width: 250px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.Scale .container .right ul {
  position: relative;
  display: flex;
  flex-direction: column;
}
.Scale .container .right ul li {
  position: relative;
  padding: 10px 0;
  color: var(--main-p-color);
  cursor: pointer;
  transition: var(--main-transition);
}
.Scale .container .right ul li::before {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  content: "\f061";
  font-family: "font awesome 5 free";
  font-weight: 900;
  transition: var(--main-transition);
}
.Scale .container .right ul li:hover::before {
  animation: rightAnimaton 0.7s ease-in-out alternate infinite;
  color: var(--main-color);
}
.Scale .container .right ul li:hover {
  color: var(--main-color-hover);
}
.Scale .container .right ul li:not(:last-child) {
  border-bottom: 1px solid var(--main-background-color);
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Helpful_Guides
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Helpful_Guides {
  position: relative;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  overflow: hidden;
}
.Helpful_Guides::before {
  position: absolute;
  content: "";
  height: 50%;
  width: 100%;
  background-color: var(--main-page-color);
  bottom: 0;
  right: 0;
  transform: skewY(-5deg);
  transform-origin: bottom right;
}
.Helpful_Guides .box-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(49%, 1fr));
  gap: 15px;
  padding: 50px 0 0 0;
}
.Helpful_Guides .box-container .box {
  position: relative;
  display: flex;
  gap: 10px;
  box-shadow: var(--main-box-shadow);
  border-radius: 0.5em;
  overflow: hidden;
  transition: var(--main-transition);
  cursor: pointer;
  background-color: #fff;
}

.Helpful_Guides .box-container .box .left {
  width: 200px;
  height: 100%;
  overflow: hidden;
}
.Helpful_Guides .box-container .box .left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: var(--main-page-color);
  transition: var(--main-transition);
}
.Helpful_Guides .box-container .box .right {
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.Helpful_Guides .box-container .box .right .head {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--purple-color);
  font-size: 16px;
}
.Helpful_Guides .box-container .box .right .head p {
  font-size: 16px;
  color: var(--purple-color);
}
.Helpful_Guides .box-container .box .right .content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.Helpful_Guides .box-container .box .right .content h3 {
  color: var(--main-color);
}
.Helpful_Guides .box-container .box:hover {
  transform: translateY(-15px);
}
.Helpful_Guides .box-container .box:hover .left img {
  transform: scale(1.1);
}
.Helpful_Guides .box-container .box:hover .right .head i {
  transform: rotate(-45deg);
  transition: var(--main-transition);
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Learn
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Learn {
  position: relative;
  background-color: var(--main-page-color);
  width: 100%;
}
.Learn .container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;
}
.Learn .container .left img {
  position: relative;
  height: 450px;
}
@media (max-width: 992px) {
  .Learn .container .left {
    display: none;
  }
}
.Learn .container .right {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.Learn .container .right p {
  position: relative;
  color: var(--purple-color);
  font-size: 18px;
  font-weight: bold;
}
.Learn .container .right h1 {
  color: var(--main-color);
  font-size: 24px;
}
.Learn .container .right span {
  color: var(--main-p-color);
  line-height: 1.7;
  letter-spacing: 1px;
}
.Learn .container .right button {
  position: relative;
  padding: 14px 18px;
  border: 0;
  background-color: var(--purple-color);
  color: #fff;
  width: fit-content;
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  font-size: 14px;
  cursor: pointer;
  transition: var(--main-transition);
}
.Learn .container .right button:hover {
  transform: scale(1.1);
}
